@tailwind base;
@tailwind components;
@tailwind utilities;


#teammemberpage strong{
  color: #0284c7;
}
#teammemberpage p{
  color: #64748b;
}

@keyframes BottomUp {
  from {
    transform: translateY(100%);    
  }
  to {
    transform: translateY(0%);    
  }
}

.bottom-up {
  animation: BottomUp 1s ease-out; /* Adjust the duration and easing as needed */  
}

@keyframes servicesLeftRight {
  from {
    transform: translatex(-100%);    
  }
  to {
    transform: translatex(0%);    
  }
}

.left-right {
  animation: servicesLeftRight 1s ease-out; /* Adjust the duration and easing as needed */  
}

@keyframes TeamMemberRightLeft {
  from {
    transform: translatex(100%);    
  }
  to {
    transform: translatex(0%);    
  }
}

.right-left {
  animation: TeamMemberRightLeft 1s ease-out; /* Adjust the duration and easing as needed */  
}

@keyframes ZoomOut {
  0% {
    transform: scale(0);    
  }
  100% {
    transform: translatex(1);    
  }
}

.zoom-out{
  animation: ZoomOut 1s ease-out;
}
